body .menu-panel .d-label{
    color: #000 !important;
}

.setting-value span {
    color: #000;
}

a.remote-url , a.url.about-url , a.url.license-url {
    color: #fff;
}

.alert.alert-info {
    color: #000;
}

.row.site-texts input {
    color: #000;
}

.row.site-texts .select-kit .select-kit-header .selected-name span , .row.site-texts .select-kit .select-kit-row .name , .admin-customize .colors .color-picker input{
  color: #000;
}

.admin-contents.admin-customize.admin-customize-email-templates span , .admin-contents.admin-customize.admin-customize-email-templates input , .admin-contents.admin-customize.admin-customize-email-templates textarea , div#emoji-uploader input ,  {
    color: #000;
}
div#emoji-group-selector-body {
    color: #000;
}

.admin-contents.admin-customize.admin-permalinks input , .select-kit-header-wrapper {
    color:  #000;
}

.select-kit-header-wrapper span.name{
  color:  #000;
}

.permalink-type  span.name{
  color:  #000;
}

.admin-contents.admin-customize.admin-embedding span , .admin-contents.admin-customize.admin-embedding input {
   color:  #000;
}

.admin-contents.admin-api.admin-api-keys input , .admin-contents.admin-api.admin-api-keys span{
    color:  #000;
}

.admin-contents.admin-plugins td {
    color: #000;
}

.admin-contents.admin-plugins tr:hover td{
 color: #fff; 
} 

.admin-area input , .admin-area ul li , .admin-area select, .admin-area textarea{
    color: #000 !important;
}